KOMMO_SUBDOMAIN=your_subdomain
KOMMO_CLIENT_ID=ac25b4d4-dd78-457d-961f-ae6ed8372ced
KOMMO_CLIENT_SECRET=your_client_secret
KOMMO_AUTH_CODE=your_auth_code
REDIRECT_URI=https://rodrigoojedaccoyo.github.io/kommo-auth/

SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
